{erl_opts, [debug_info]}.
{deps, [
    {atomvm_esp_adf, {git, "https://github.com/pguyot/atomvm_esp_adf.git", {branch, "main"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [la_machine]}
]}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{profiles, [
    {check, [
        {plugins, [erlfmt]}
    ]}
]}.
