% SPDX-License-Identifier: Apache-2.0
{erl_opts, [debug_info]}.
{deps, [
    {atomvm_esp_adf, {git, "https://github.com/pguyot/atomvm_esp_adf.git", {branch, "main"}}},
    {atomvm_adc, {git, "https://github.com/atomvm/atomvm_adc.git", {branch, "master"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [la_machine]}
]}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{profiles, [
    {check, [
        {plugins, [erlfmt]}
    ]},
    {proto_paper_toy, [
        {erl_opts, [{d, 'MODEL_PROTO_PAPER_TOY'}]}
    ]},
    {proto_lego, [
        {erl_opts, [{d, 'MODEL_PROTO_LEGO'}]}
    ]},
    {proto_20240718, [
        {erl_opts, [{d, 'MODEL_PROTO_20240718'}]}
    ]},
    {proto_20241023, [
        {erl_opts, [{d, 'MODEL_PROTO_20241023'}]}
    ]}
]}.
